@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
   }
.darkTheme {
    --active: hsl(228, 26%, 27%);
    --toogle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --bg: hsl(230, 17%, 14%);
    --Top-BG-Pattern: hsl(232, 19%, 15%);
    --Card-BG: hsl(228, 28%, 20%);
    --Text1: hsl(228, 34%, 66%);
    --Text2: hsl(0, 0%, 100%);
}
.lightTheme {
    --active: hsl(232, 33%, 91%);
    --toogle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --bg: hsl(0, 0%, 100%);
    --Top-BG-Pattern: hsl(225, 100%, 98%);
    --Card-BG: hsl(227, 47%, 96%);
    --Text1: hsl(228, 12%, 44%);
    --Text2: hsl(230, 17%, 14%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    max-width: 1440px;
    transition: all 0.5s;
}
body{
    position: relative;
    z-index: -1;
    background-color: var(--bg);
}

input[type=checkbox]{
	height: 0;
	width: 0;
    visibility: hidden;
    
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 26px;
	background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));;
	display: block;
	border-radius: 100px;
	position: relative;
}
label::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--bg);
	top: 3px;
	left: 2px;
    transition: all 0.5s;
    transform: translateX(25px);
}

input[type=checkbox]:checked + label::after{
    transition: all 0.5s;
    transform: translateX(0px);
    background-color: var(--bg);
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;
    background-color: var(--Top-BG-Pattern);
    padding-bottom: 140px;
}
.heading1{
    color: var(--Text2);
    padding-left: 100px;
}

.heading1 h1{
    font-size: 30px;
    font-weight: 700;

}
.heading1 div{
    color: var(--Text1);
    font-weight: 700;
}
.toggle {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 600px;
	text-align: center;
}

#mode{
    padding-top: 6px;
    color: var(--Text1);
    font-size: 14px;
    font-weight: 700;
    
}
.mid-card-container{
    margin-left: 100px;
    transform: translateY(-100px);
    display: flex;
    flex-direction: row;
    
}
.mid-card{
    width: 250px;
    height: 220px;
    border-radius: 5px;
    background-color: var(--Card-BG);
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.mid-card:hover, .footer-card:hover{
    background-color: var(--active);
    cursor: pointer;
}

.facebook{
    border-top: 3px var(--Facebook) solid;
}
.twitter{
    border-top: 3px var(--Twitter) solid;
}
.instagram{
    border-top: solid  3px;
    border-color: var(--Instagram);
    border-top: 4px solid transparent;
    border-image-slice: 1 0 0 0;
    border-image-source: var(--Instagram);
    
    
}
.youtube{
    border-top: 3px var(--YouTube) solid;
}

.user-icon {
	align-items: center;
	display: flex;
	justify-content: center;
    padding-top: 22px;
}
.user-icon span{
    padding-left: 5px;
    color: var(--Text1);
    font-weight: 700;
}   

.follower{
    align-items: center;
	display: flex;
	justify-content: center;
    padding-top: 22px;
    flex-direction: column;
}
.follower .count{
    font-size: 50px;
    color: var(--Text2);
    font-weight: 700;
}

.follower .folllow{
    text-transform: uppercase;
    font-size: 12px;
    color: var(--Text1);
    font-weight: 400;
    letter-spacing: 5px;
}

.stats{
    align-items: center;
	display: flex;
	justify-content: center;
    padding-top: 30px;
    flex-direction: row;
}
.stats .up{
    color: var(--lime-Green);
    padding-left: 5px;
    font-size: 12px;
    font-weight: 700;
}
.stats .down{
    color: var(--Bright-Red);
    padding-left: 5px;
    font-size: 12px;
    font-weight: 700;
}
.footer{
    color: var(--Text2);
    padding-left: 100px;
    margin-top: -35px;
}
.footer h1 {
	font-size: 30px;
	margin-bottom: 35px;
}
.footer-card-container{
    display: flex;
    flex-direction: row;
}

.footer-card{
    width: 250px;
    height: 120px;
    border-radius: 5px;
    background-color: var(--Card-BG);
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    margin-bottom: 30px;
}

.footer-card-top{
    display: flex;
    padding: 20px;
}
.footer-card-top .name{
    color: var(--Text1);
    font-weight: 700;
    width: 50%;
}

.footer-card-top .img {
	display: flex;
	justify-content: right;
	width: 50%;
}

.footer-card-bottom{
    display: flex;
    padding: 10px;
    padding-left: 20px;
}
.upcount{
    font-size: 30px;
    font-weight: 700;
    width: 50%;
}
.footer-card-bottom .up {
	top: 21px;
	position: relative;
    left: 70px;
    color: var(--lime-Green);
    font-size: 12px;
    font-weight: 700;
    padding-right: 20px;

}
.footer-card-bottom .down {
	top: 21px;
	position: relative;
    left: 70px;
    color: var(--Bright-Red);
    font-size: 12px;
    font-weight: 700;

}