@import 'https://fonts.google.com/specimen/Kumbh+Sans';


:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* For Primary Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* For Neutral Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Divider */
    --light-grayish-blue: hsl(240, 5%, 91%);
}
  
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    font-size: 12px;
    font-family: 'Kumbh Sans';
    background-image: linear-gradient(to right, var(--soft-violet), var(--soft-blue));
    /* background-repeat: no-repeat;
    background-position: cover; */
}
.faq-card {
    display: flex;
    flex-direction: column;
    width: 799px;
    padding-bottom: 50px;
    margin-top: 20vh;
}

.middle{
    border-radius: 23px;
    background-color: white;
    width: 100%;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0 30px 0;
    position: relative;
    background-image: url('images/bg-pattern-desktop.svg');
    background-position: top -20rem left -40rem;
    background-repeat: no-repeat;
    
}
.left-section{
    width: 50%;
    float: left;

}
.right-section{
    width: 50%;
    float: right;
}
