@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap');


:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* For Primary Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* For Neutral Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Divider */
    --light-grayish-blue: hsl(240, 5%, 91%);
}
  
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body{
    max-width: 1440px;
    font-size: 12px;
    font-family: 'Kumbh Sans';
    background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
}
.faq-card {
    display: flex;
    flex-direction: column;
    width: 899px;
    padding-bottom: 50px;   
    margin-top: 12vh;
}
h1{
    margin-bottom: 20px;
}
.middle{
    border-radius: 23px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('images/bg-pattern-desktop.svg');
    background-position: top -18rem left -36rem;
    background-repeat: no-repeat;
    
}
.left-section{
    float: left;
    width: 50%;
    /* padding: 10px; */
    background-image: url('images/illustration-woman-online-desktop.svg');
    background-position: top 3rem left -5rem;
    background-repeat: no-repeat;
    min-height:80vh;
}
.right-section{
    /* float: left; */
    width: 50%;
    padding-right: 50px;
}
.box{
	position: relative;
	left: -93px;
    top: 185px;
}
.girl{
	position: relative;
	left: -151px;
	overflow: hidden;
	width: 400px;
}
.questions{
    /* padding: 40px; */
}
.ques{
    color: var(--very-dark-grayish-blue);
}
span{
    float: right;

}

.divider{
    margin: 15px 0px;
    border-top: 1px solid var(--light-grayish-blue);
    
}
.ans{
    display: none;
    color: var(--very-dark-grayish-blue);
    transition: all 1s ease;
}
.ques_active{
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
}
.ans_active{
    display: block;
    padding-right: 25px;
    padding-top: 10px;
    transition: all 1s ease;
}
.arrow{
    transform: rotate(180deg);
}
.close{
    transition: all 0.5s ease;
}
.button{
    cursor: pointer;
}