@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
}

:root{
    --dark-blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
    --dark-blue-main-background: hsl(218, 28%, 13%);
    --dark-blue-footer-background: hsl(216, 53%, 9%);
    --dark-blue-testimonials-background: hsl(219, 30%, 18%);

    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
}

body{
    background-color: var(--dark-blue-main-background);
    position: relative;
    z-index: -1;
}

.header{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-top: 80px;
}

.logo, .menu{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}
.menu{
    justify-content: right;
    padding-right: 80px;
}
.items{
    display: flex;
    font-family: 'Raleway', sans-serif;
    padding: 0px 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    
}
.items:hover{
    font-weight: 700;
    text-decoration: underline;
}
