@import url(https://fonts.google.com/specimen/Spartan);
:root{
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Spartan';
    font-weight: 400;
}

body{
    max-width: 1440px;
    background-color: var(--white);
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-position: top 0rem left 0rem, bottom -52rem right 0rem;
    background-repeat: no-repeat;
}
@media(max-width:375px){
    body{
        background-color: var(--white);
        background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
        background-position: top 0rem left 0rem, bottom -52rem right 0rem;
        background-repeat: no-repeat;
    }
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 50px;   
    margin-top: 12vh;
    justify-content: center;

}
.top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.headline{
    color: var(--very-dark-magenta);
    font-size: 50px;
    font-weight: 700;
    padding: 50px 50px 10px 120px;
}
.small-text{
    color: var(--dark-grayish-magenta);
    padding: 0px 50px 20px 150px;
    line-height: 1.5;
}

.top-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px;
}

.stars-top-right{
    background-color: var(--light-grayish-magenta);
    width: 60%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.img-star{
    padding: 0px 3px;
}
